body {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a, button, li {
  cursor: pointer;
}

a:hover, li:hover {
  transform: scale(1.1);
}
